
html, body{
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.logo-main-container{

  &__iata-image{
    margin-top:15px;
  }

  &__iata-image p{
    font-weight: .9rem
  }

  &__phone-number{
    margin-top:25px;
  }


  &__phone-number p{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }

  &__phone-number h2{
    font-size: 2.3rem;
    font-weight: bold;
    color: #AE690E;
    margin: 0;
    padding: 0;
  }

  /*@media queries section*/

  @media only screen and (max-width: 770px) {
    .logo-main-container__iata-image{
      display: none;
    }

    .logo-main-container__phone-number{
      margin-top: 0px;
      margin-bottom: 15px;
    }

  }

}
